* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.messanger {
    display: flex;
    height: 100vh;
}

aside {
    width: 300px;
    height: 100%;
    border-right: 1px solid #ccc;
}

main {
    width: 100%;
    height: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.nav-bar .btn {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
}

.nav-bar .btn:hover {
    background-color: #ccc;
}

.nav-bar .btn.active {
    color: #fff;
    background-color: red !important;
}

#mail-list {
    height: calc(100% - 60px);
    overflow-y: auto;
}

.mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.mail:hover {
    background-color: #eee;
}

.mail .from {
    font-weight: bold;
}

.mail .subject {
    font-style: italic;
}

#mail-content {
    padding: 20px;
}

.send-mail {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    border: 1px solid #ccc;
}

#send-form {
    padding: 20px;
    width: 100%;
}

#send-form input, #send-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
}